body, p {
  margin: 0;
  padding: 0; }

nav {
  display: flex;
  justify-content: center; }
  nav a.nav-link {
    text-decoration: none;
    font-size: 2rem;
    margin: 1rem; }
    nav a.nav-link:hover {
      background-color: red; }
  nav p {
    color: red; }
